<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body th:object="${foxProfile}">
<ul>
    <li>
        <a href="#">Information</a>
    </li>
</ul>
<img src="greenfox.png">
<p th:text="|This is *{name}, currently living on *{food} and *{drink}. He knows *{tricks.size()} tricks.|"></p>
<h2>Known tricks</h2>
<ul th:each="foxTrick : *{tricks}">
    <li th:text="${foxTrick.name}"/>
</ul>
</body>
</html>