<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login - Programmer Fox Club</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="table-title">
    <h2>Welcome to Programmer Fox Club!</h2>
</div>
<p th:if="${foxnotfound}">Fox not found!</p>
<p>Please provide a name, so you can associate it to your pet!</p>
<div>
    <form th:action="@{/login}" th:method="post">
        <div>
            <label for="login-name">Name: </label>
            <input type="text" id="login-name" name="login-name">
            <input type="submit" value="GO">
        </div>
    </form>
</div>
<div class="listitems">
    <ul>
        <li>
            <a th:href="@{/addfox}">Create new Fox</a>
        </li>
        <li>
            <a th:href="@{/addtrick}">New Tricks</a>
        </li>
        <li>
            <a th:href="@{/addnutrition}">New Nutritions</a>
        </li>
    </ul>
</div>
</body>
</html>