<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Of Symba - accounts</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8"/>
</head>
<body>
<table class="table-fill">
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Type</th>
        <th>Balance</th>
        <th>King?</th>
        <th>Side</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr th:each="account : ${accounts}" th:switch="${account.side}">
        <td th:class="${account.kingStatus}? 'text-king' : 'text-left'" th:text="|${accountStat.index}|">
        <td th:class="${account.kingStatus}? 'text-king' : 'text-left'" th:text="|${account.name}|">
        <td th:class="${account.kingStatus}? 'text-king' : 'text-left'" th:text="|${account.animalType}|">
        <td th:class="${account.kingStatus}? 'text-king' : 'text-left'"
            th:text="|${#numbers.formatDecimal(account.balance,1,2,'POINT')} Zibra|">
        <td th:class="${account.kingStatus}? 'text-king' : 'text-left'" th:text="|${account.kingStatus}|">
        <td th:class="${account.kingStatus}? 'text-king' : 'text-left'" th:case="'good'" th:text="|Good One|">
        <td th:class="${account.kingStatus}? 'text-king' : 'text-left'" th:case="'bad'" th:text="|Bad Guy|">
    </tr>
    </tbody>
</table>
<div>
    <form action="#" th:action="@{/raise-balance}" method="get">
        <button type="submit">Raise Balance</button>
    </form>
</div>
<div>
    <form action="#" th:action="@{/add-account}" method="get">
        <button type="submit">Add new account</button>
    </form>
</div>
</body>
</html>