@{
    ViewData["Title"] = "Todo App - Home";
}
@model List<Todo>

<h1>Todo App</h1>

<p>Here are your Todos!</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Assignee id</th>
        <th>Action</th>
    </tr>
    @foreach (var todo in Model)
    {
        <tr>
            <td>@todo.Title</td>
            <td>@todo.Description</td>
            <td>@todo.AssigneeId</td>
            <td>
                <form action="/Todo/Delete?id=@todo.TodoId" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>