<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Gábor's Webshop</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="table-title">
    <h2>Gábor's Webshop</h2>
</div>
<div class="upper-buttons">
	<button type="button" onclick="location.href = 'http://localhost:8080/only-available'">Only available</button>
	<button type="button" onclick="location.href = 'http://localhost:8080/cheapest-first'">Cheapest first</button>
	<button type="button" onclick="location.href = 'http://localhost:8080/contains-nike'">Contains nike</button>
	<button type="button" onclick="location.href = 'http://localhost:8080/average-stock'">Average stock</button>
	<button type="button" onclick="location.href = 'http://localhost:8080/most-expensive'">Most expensive available</button>
</div>
<div class="search">
		<form class="search-container" action="http://localhost:8080/search" method="post">
			<label for="searchtext" class="texts">Search for:</label>
			<p><input type="text" name="searchtext" id="searchtext" required="true" placeholder="...something like nike">
			<input type="submit" name="searchbutton" id="searchbutton" value="Search"></p>
		</form>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Price</th>
        <th class="text-center">Quantity of stock</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr th:each="shopItem: ${shopItems}">
        <td th:class="'text-left'" th:text="${shopItem.getName()}">
        <td th:class="'text-left'" th:text="${shopItem.getDescription()}">
        <td th:class="'text-left'" th:text="${shopItem.getPrice()}">
        <td th:class="'text-left'" th:text="${shopItem.getQuantityOfStock()}">
    </tr>
    </tbody>
</table>
</body>

</html>