@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

div.table-title {
  margin: auto;
  max-width: 600px;
  padding: 5px;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style: normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
   text-transform: uppercase;
}

/*** Table Styles **/
.table-fill {
  background: white;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);	
}
 
th {
    color: #D5DDE5;
    ;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #5B657A;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
}
  
tr {
    border-top: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    border-right-color: #000000;
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    border-right: 1px solid #FFFFFF;
}
 
tr:nth-child(odd) {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover {
  background:#4E5066;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #ACB4C2;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}
