<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reddit: Submit a new post</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="table-title">
    <h2>Submit a new post</h2>
</div>
<br><br>
<div class="upper-buttons">
    <form th:action="@{|/${context}/submit|}" th:method="post" th:object="${newReddit}">
        <div>
            <label for="reddit-title">Title:</label>
            <input type="text" id="reddit-title" name="reddit-title" th:field="*{title}">
        </div>
        <div>
            <label for="reddit-url">Url:</label>
            <input type="text" id="reddit-url" name="reddit-url" th:field="*{url}">
        </div>
        <!-- can be overwritten on client side, implement get username on server side with AuthenticationFacade
                https://www.baeldung.com/get-user-in-spring-security
        <div>
                +++++ th:field overwrites th:value, id and name, not using here +++++
            <input type="hidden" id="username" name="username" th:value="${context == 'pub'}? 'pub' : ${#httpServletRequest.remoteUser}">
        </div> -->
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>